/* all css styles for google clone */

html {
  height: 100%;
  box-sizing: border-box;
  font-family: courier;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: rgb(72, 175, 86);
  position:relative;
  margin:0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.logo{
  margin: 50px auto;
  display: block;
}

.input{
  margin: auto;
  display: block;
  width: 700px;
  background: #6eff82;
  padding:  5px 10px;
  border: transparent;
  border-radius: 3px;
  font-size: 20px;
}

.searchbtn{
  background-color: #b7d8ad;
  margin: 25px 10px;
  border: 0;
  padding: 10px 25px;
  border-radius: 4px;
  color: grey;
  font-weight: bold;
}

button.searchbtn:hover {
    background-color: #c0c0c0;
    font-weight: bold;
    color: black;
}

.btns{
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: #dddddd; */
    /* height: auto; */
}
li {
    float: right;
    background-color: #4ab859;
}

a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}
.bar {
    height: 20px;
}
li a:hover {
    background-color: #23be38;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
  background: inherit;
}
a.rightButton {
    text-align: left;
}